.nav-link {
  padding-left: 1.5rem;
  color: #f9bc60;
  font-size: 2.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-shadow: rgb(255, 241, 186) 0.05rem 0.05rem 0.4rem;
}

.nav-link_active {
  padding-left: 1.5rem;
  color: #f9bc60;
  font-size: 2.5rem;
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: rgb(255, 241, 186) 0.05rem 0.05rem 0.4rem;
}